
body::before {
  display: block;
  content: '';
  height: 40px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.showcase .img{
  color: rgb(0, 0, 0);
}


.button{
  background-color: #4cd6d2;
  color: black;
}
.btn .btn-primary{
  background-color: #4cd6d2;
  color: #000000;

}

.social a{
display: inline-block;
font-size: 4.5em;
padding: 3rem;

}

.fa-facebook {
color:#3b5998

}
.fa-twitter {
color: blue;
}
.fa-youtube {
color: #dd4b39;
}

.fa-google-plus-g {
color: #517fa4;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-google-plus-g:hover {
color: #d5d4d5;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../node_modules/bootstrap/scss/bootstrap.\A        Load path: C:/HTML\A         on line 4 of C:\HTML\style1.scss\A \A 1: $primary: black;\A 2: \A 3: \A 4: @import '../node_modules/bootstrap/scss/bootstrap';\A 5: \A 6: \A 7: body::before {\A 8:     display: block;\A 9:     content: '';"; }
